<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Editar post", edit_post_path(@post) %> |
  <%= link_to "Voltar", posts_path %>

  <%= button_to "Apagar post", @post, method: :delete %>
</div>
